/*--- HEADER-----*/
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-main-color: #212121;
  --title-dark-theme-color: #ffffff;
  --subtitle-main-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.logo-web {
  font-family: var(--secondary-font);
  color: var(--accent-color);
}

.logo-studio-dark {
  color: #000000;
}

.address {
  font-style: normal;
}

.address-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: black;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: var(--title-main-color);
}
.header-connect-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--subtitle-main-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-connect-link:hover,
.header-connect-link:focus {
  color: var(--accent-color);
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
}

.title-item {
  font-family: Roboto;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #212121;
}
/*---  Black color chose temporarily for viewing on light background-----*/

/*---  END HEADER-----*/

/*---  MAIN -----*/

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-main-color);
}

.advantage-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--subtitle-main-color);
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-main-color);
}

/*---  TEAM -----*/
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-main-color);
}

.example-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
